
.bloks{
    text-align: center;

}



.blok1{
    display: inline-block;
    color: rgb(113, 210, 255);
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: large;
    padding-right: 50px;
    padding-left: 50px;  
    font-family: 'Rajdhani', sans-serif;

  

}


.blok2{
    display: inline-block;
    font-size: large;
    margin-bottom: 100px;
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Rajdhani', sans-serif;

 

}


.blok3{
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 30px;
    
    font-size: large;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Rajdhani', sans-serif;
   
}

.images {
   
   align-items: center;

}


.img1 {
    display: inline-block;
    width: 400px ;
    height: 250px;
    padding-right: 50px;
    padding-left: 50px;
    
    margin-top: 50px;
    
    
}


.img2 {
    display: inline-block;
    width: 400px ;
    height: 250px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
}


.h2{
    text-align: center;
}

.p1{
    display: inline-block;
    
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.p{
    display: inline-block;
    margin-left: 330px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}


.allf {
    text-align: center;
}

.f1{
    display: inline-block;
    
    font-family: 'Rajdhani', sans-serif;
    color: grey;
    
}

.f2{
    display: inline-block;
    margin-left:435px;
    font-family: 'Rajdhani', sans-serif;
    color: grey;
}



.txt{
    text-align: center;
}

.txt1{
    display: inline-block;
   

}

.txt2{
    display: inline-block;
    margin-left: 130px;

}


.p2{
    display: inline-block;
    
    
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.p3{
    display: inline-block;
    margin-left: 380px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.end{
    font-family: 'Rajdhani', sans-serif;
    border: solid darkgray;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;

}